.red-box {
    background-color: red;
  }
  
  .blue-box {
    background-color: blue;
  }
  .orange-box {
    background-color: orange;
  }
  
  .green-box {
    background-color: green;
  }
  
  .purple-box {
    background-color: purple;
  }
  
  .gray-box {
    background-color: gray;
  }